.browseBanner {
  height: 15rem;
}

@media only screen and (max-width: 480px) {
  .browseBanner {
    height: 33rem;
  }
}

.orderNowBtn {
  margin-top: -2rem;
}

.orderActionBtn {
  margin-top: 1rem;
  height: 2.5rem;
  line-height: 2.5rem;
}

.orderActionBtn,
.orderActionBtn:active,
.orderActionBtn:focus {
  background-color: #726a95;
  color: #f4e8c1;
  text-shadow: 1px 1px 6px #000;
  font-size: 1.2rem;
}

.orderActionBtn:hover {
  background-color: #f4e8c1;
  color: #726a95;
  text-shadow: none;
}

.browseImg {
  display: inline-block;
  width: 300px;
  height: 200px;
}

.browseText {
  height: 200px;
  float: right;
  text-align: center;
}

.browseCatTitle {
  font-size: 2rem;
  font-weight: 1000;
  text-align: center;
}

.browseCat {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.brandDiv {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.brandImg {
  width: 200px;
  height: 200px;
}

.brandText {
  text-align: center;
  font-weight: 700;
}

.browseSeparator {
  width: 70%;
  border: 1px solid #726a95;
  margin: 2rem auto;
}

.catBtn {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 200px;
  height: 2.5rem;
  line-height: 2.5rem;
}

.logoFeature {
  width: 200px;
  height: 70px;
}

.singleBrandDiv {
  width: 200px;
  display: inline-block;
  margin: 0 2rem;
}

.brandsDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.centerBtn {
  display: flex;
  justify-content: center;
  width: 200px;
  margin: 1rem auto;
}

.moreCatDiv {
  margin-bottom: 3rem;
}
