.myHome {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5rem;
}

.homeAction {
  margin: 5rem;
}

.homeAction p {
  margin-bottom: 0rem;
}

.homeBtn,
.homeBtn:active,
.homeBtn:focus {
  margin: 1.8rem;
  background-color: #726a95;
  color: #f4e8c1;
  text-shadow: 1px 1px 6px #000;
  font-size: 1.2rem;
  width: 13rem;
  height: 3rem;
  line-height: 3rem;
}

.homeBtn:hover {
  background-color: #f4e8c1;
  color: #726a95;
  text-shadow: none;
}

h3 {
  font-weight: 1000;
  font-size: 3rem;
}

h6 {
  font-weight: 700;
}
