.myProfile {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
}

.profileTitle {
  font-size: 2rem;
  font-weight: 900;
}

.saveBtn {
  margin-top: 1rem;
}

.saveBtn,
.saveBtn:active,
.saveBtn:focus {
  background-color: #726a95;
  color: #f4e8c1;
  text-shadow: 1px 1px 6px #000;
}

.saveBtn:hover {
  background-color: #f4e8c1;
  color: #726a95;
  text-shadow: none;
}
