.sideCart {
  text-align: center;
  background-color: #f4e8c1;
  margin-left: -2rem;
}

.lightText {
  font-weight: 300;
}

.strongText {
  font-weight: 700;
}

.cartSeparator {
  width: 100%;
  border: 1px solid #726a95;
}

.cartTotal {
  text-align: left;
}

.cartPrices {
  float: right;
}

.cartItems {
  font-size: 0.7rem;
  font-weight: 300;
  text-align: left;
  color: #726a95;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.cartItemPrices {
  float: right;
  line-height: 200%;
}

.checkoutBtn,
.checkoutBtn:active,
.checkoutBtn:focus {
  width: 100%;
  background-color: #726a95;
  color: #f4e8c1;
  text-shadow: 1px 1px 6px #000;
  font-size: 1rem;
}

.checkoutBtn:hover {
  background-color: #726a95;
  color: #f4e8c1;
}

.statusBtn,
.statusBtn:active,
.statusBtn:focus {
  width: 100%;
  background-color: #709fb0;
  color: #f4e8c1;
  text-shadow: 1px 1px 6px #000;
  font-size: 1rem;
}

.statusBtn:hover {
  background-color: #709fb0;
  color: #f4e8c1;
}

.addFromOrderBtn,
.addFromOrderBtn:focus {
  margin: 0.2rem;
  background-color: #726a95;
  color: #f4e8c1;
  text-shadow: 1px 1px 6px #000;
  height: 1rem;
  width: 1rem;
}

.addFromOrderBtn:hover {
  background-color: #726a95;
}

.cartItems > .btn-floating {
  line-height: 1rem;
}

.btn-floating > .addFromOrderIcon {
  font-size: 0.5rem;
  line-height: 0.5rem;
  color: #f4e8c1;
}
