.orderTitle {
  font-size: 2rem;
  font-weight: 1000;
  text-align: center;
  margin-top: 3rem;
}

.mainOrderDiv {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.productDiv {
  margin-left: 1rem;
  margin-right: 1rem;
}

.productImgDiv {
  width: 150px;
  height: 150px;
}

.productImg {
  width: 150px;
  height: 150px;
}

.productDesc {
  width: 150px;
  text-align: center;
  font-weight: 1000;
  font-size: 0.8rem;
}

.productPrice {
  text-align: center;
  font-weight: 600;
  font-size: 0.8rem;
}

.addToOrderBtnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addToOrderBtn,
.addToOrderBtn:focus {
  float: right;
  margin-top: -10rem;
  margin-right: 0.5rem;
  background-color: #f4e8c1;
  color: #726a95;
  text-shadow: 0.5px 0.5px #333;
  height: 2rem;
  width: 2rem;
}

.addToOrderBtn:hover {
  background-color: #726a95;
}

.btn-floating > .addToOrderIcon {
  font-size: 1rem;
  line-height: 2rem;
  color: #726a95;
}

.btn-floating > .addToOrderIcon:hover {
  font-size: 1rem;
  line-height: 2rem;
  color: #f4e8c1;
}

@media only screen and (max-width: 768px) {
  .orderpageCart {
  }

  .mainOrderDiv {
    justify-content: center;
  }

  .orderPageDisplay > .row .col.s8 {
    width: 100%;
  }

  .orderPageDisplay > .row .col.s4 {
    width: 100%;
    margin-left: 1rem;
  }
}
