.myNav,
.myNav ul a {
  background-color: #709fb0;
  color: #351f39;
}

.dropdownList li > a {
  font-size: 0.8rem;
}

.myNav ul li.brandName a {
  font-size: 2rem;
  font-weight: 1000;
}

.side-nav {
  background-color: #709fb0;
}
