.myRegister {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.regTitle {
  font-size: 2rem;
  font-weight: 900;
}

.regBtn {
  margin-top: 1rem;
}

.regBtn,
.regBtn:active,
.regBtn:focus {
  background-color: #726a95;
  color: #f4e8c1;
  text-shadow: 1px 1px 6px #000;
  font-size: 1.2rem;
}

.regBtn:hover {
  background-color: #f4e8c1;
  color: #726a95;
  text-shadow: none;
}
